[Desktop Entry]
Name=About Creator
Comment=About Osmium (@eile-kerning)
Exec=/usr/bin/about.sh
Icon=distributor-logo-osmium
Type=Application
Categories=GTK;System;Settings;
