[Desktop Entry]
Name=Getting Started
Comment=Osmium OS Helper
Exec=/usr/bin/get_started.sh
Icon=distributor-logo-osmium
Type=Application
Categories=GTK;System;Settings;
